@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@font-face {
  font-family: "Univers LT Std";
  src: 
       url("/fonts/universltstd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Univers Bold */
@font-face {
  font-family: "Univers LT Std";
  src: 
       url("/fonts/universltstd-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Univers Boldex */
@font-face {
  font-family: "Univers LT Std";
  src: 
       url("/fonts/universltstd-boldex.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Std";
  src: url("/fonts/futurastd-extrabold.woff") format("woff");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sharp Sans No2";
  src: url("/fonts/sharp-sans-no2-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "Univers LT Std";
  }
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --font-display: 'Futura Std', 'sans-serif';
  --font-sans: 'Univers Lt Std', 'sans-serif';
  --font-nav: 'Sharp Sans No2', 'sans-serif';

  --default-transition-duration: 250ms;
}

@layer components {
  .heading-1 {
    @apply text-[40px] font-display font-extrabold tracking-tight uppercase sm:text-5xl lg:text-6xl;
  }
  .heading-2 {
    @apply text-[22px] font-display uppercase;
  }
    .heading-3 {
    @apply text-[20px] font-display uppercase;
  }
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}